
.bg_white{
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.font_size_1{
    font-size: 30px;
}
.font_size_2{
    font-size: 25px;
}
.font_size_3{
    font-size:100px !important;
}
.pad {
    padding: 30px;
}
body{
    font-family: Helvetica,Arial,sans-serif;
    color: #262626 !important;
}   
.font_size{
    color: #262626 !important;
    font-size: 18px;
}  
@media (min-width: 768px){
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}
.nav_icon{
    background: #000;
    display: -webkit-box;
    margin-bottom: 3px;
    width: 20px;
    height: 2px;
}
.list_content {
    margin-left: 20px;
    margin-right: 20px;
}
.img_alter {
    padding: 10px;
}

.part{
    width: 100%;
   
}
.t_align{
    text-align: center;

}

.link_style{
    font-size: 22px;
    
    font-weight: 500;
   
    color: #3eeaea;
    
}
.link_style:hover{
    text-decoration: none;
    color: #17a2b8;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.col-md-4:hover .overlay {
    bottom: 0;
    height: 100%;
}
.col-md-4.section__icon-grid__item {
    height: 410px;
}   
.w3-panel.w3-card-4.card_align {
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    height: 350px;
}
h2.t_align.font_size_2.pad.mar_alter {
    margin-top: 70px;
    margin-left: -5px;
    margin-right: -5px;
}
.mar_alter_1{
    margin-top: 70px;
}

@media (min-width: 200px) and (max-width: 500px)
{
    .img_alter {
        padding:5px;
    }
}
@media (min-width: 200px) and (max-width: 500px)
{
    .pad {
    padding: 0px;
}
}


.video_part {
    margin-left: -15px;
    margin-right: -15px;
}
@media (max-width: 786px){
.list_content {
    margin-left: 0px;
    margin-right: 0px;
}
}
@media (min-width: 501px) and (max-width: 768px){
.pad {
    padding: 0px;
}
}
@media (min-width: 1024px){
    .pad {
    padding: 10px;
}
}
.col-md-4.section__icon-grid__item {
    height: 430px;
}
@media (min-width: 280px) and (max-width: 500px){
h2.t_align.font_size_2.pad.mar_alter_1.mar_alter {
    padding: 1px;
}
}
@media (max-width: 425px) {
h2.t_align.font_size_2.pad {
    padding: 1px;
}
}
@media (max-width: 425px) {
h2.t_align.font_size_2.pad.first_head {
    padding: 2px;
}
}
.container-fluid.pad_1 {
    padding: 30px;
}